@import 'tailwindcss';
/* @import url('https://fonts.googleapis.com/css2?family=Geist+Pixel:ELSH@0..100&display=swap'); */
@plugin '../hero.ts';
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-bg: #fcf4ed;
  --color-brand-card: #ffffff;
  --color-brand-border: #e2e8f0;
  --color-brand-orange: #fe6401;
  --color-brand-orange-soft: rgba(254, 100, 1, 0.1);
  --color-brand-emerald: #10b981;
  --color-brand-white: #0f172a;
  --color-brand-gray: #475569;

  --font-geist: 'Geist Pixel', sans-serif;
  --font-recursive: 'Recursive', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}
